html{
	font-family: sans-serif;
}

body{
	font-family: Arial;
	background: hsl(0, 0%, 90%);
	margin: 0;
	padding-top: 120px;
}

.cabecera{
	background: hsl(0, 0%, 20%);
}

.centrado{
	margin: 0 auto;
	padding: 0 1em;
}

@media screen and (min-width: 30em){
	.centrado{
			max-width: 52em;
	}


#main-header {
	background: #333;
	color: white;
	height: 70px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	right: 0;
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

#footer{
	background: #333;
	color: white;
	height: 70px;


	width: 100%; 
	left: 0;
	right: 0;
	bottom: 20px;
	position: none;
}

.destacados{
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid hsl(0, 0%);
	position: none;
}


.menu-section{
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid hsl(0, 0%);
	position: none;
}
.menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: hsl(0, 0%, 15%);
}
.menu li a{
	display:block; 
	text-decoration: none;
	color: #fff;
	padding: 0.6em 1em;
}
.menu li a:hover{
	background: hsl(0, 0%, 30%);
}
.menu-simple ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.menu-simple li{
	flex: 1 0 auto;
	text-align: 0;
}


.titulo1{
	margin: 0 0 1em;
	padding: 1em 0;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	color: #FFF;
}


.tarjeta a{
	color: #000;
	text-decoration: none;

}

.tarjeta a:hover{
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%)
}

.tarjeta-content{
	padding: 1.4em;

}

.tarjeta-content h2{
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
	margin-left: none;
	margin-right: none;
}

.tarjeta-content p{
	font-size: 95%;
}

figure{
	margin: 0;
}

img{
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.tarjeta{
	background: #FFF;
	margin-bottom: 2em;
	width: 32%;
	background-color: #E8E98D;
}

.items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
